pkgbase = python-rapidfuzz
	pkgdesc = Rapid fuzzy string matching in Python using various string metrics
	pkgver = 3.6.0
	pkgrel = 1
	url = https://github.com/maxbachmann/rapidfuzz
	arch = x86_64
	license = MIT
	checkdepends = python-hypothesis
	checkdepends = python-pandas
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = cython
	makedepends = python-scikit-build
	makedepends = rapidfuzz-cpp
	depends = glibc
	depends = gcc-libs
	depends = python
	optdepends = python-numpy
	source = python-rapidfuzz::git+https://github.com/maxbachmann/rapidfuzz#commit=a7c3f6ea1d4d26389b494ac1897f75996f51514e
	source = github.com-taskflow-taskflow::git+https://github.com/taskflow/taskflow
	source = remove-version-constraints.patch
	b2sums = SKIP
	b2sums = SKIP
	b2sums = b2b909a81d221169a7c924bd79c6a83c91546b9df0072777b667f803a9df7581951e1ee1b5ddd0c766219ec54b7e3a7a4ce52ab90c8713f1a1d715b4e1391873

pkgname = python-rapidfuzz
